.main_block {
    margin: 10vh 0 5vh 0;
}

.main_block h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
    margin-bottom: 5vh;
}

.main_block .search_block {
    margin: 2vh 0;
}

.search_panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block .search_panel .input_block {
    margin: 0 30px;
    position: relative;
}

.main_block .search_panel .pointer_icon, .main_block .search_panel .pointer_icon_active {
    color: #F8EDD9;
    font-weight: bold;
    font-size: 25px;
    transition: 2s;
    transform: scale(1);
}

.main_block .search_panel .pointer_icon_active {
    transition: 2s;
    transform: scale(1.2);
}

.main_block .search_panel .input_block input {
    background: #FFF7E7;
    width: 25vw;
    padding: 10px 5px;
    display: inline-block;
    outline: none;
    color: back;
    font-weight: bold;
    font-size: 17px;
    color: #333;
}

.main_block .search_panel .input_block input:hover {
    background: #FAF0DB;
}

.input_close, .input_close_active {
    align-items: center;
    justify-content: end;
    position: absolute;
    margin-left: 93%;
    height: 100%;
    box-sizing: border-box;
    display: none;
    transition: .3s;
    color: #333;
}

.input_close_active {
    display: flex;
}

.input_close_active svg {
    cursor: pointer;
}

/* выпадающий список */

.input_block .visible_answers div {
    width: 25vw;
    background: #FEF6E6;
    padding: 6px 5px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    border-top: 1px solid #CDC6BA;
    border-left: 2px solid #CDC6BA;
    border-right: 2px solid #CDC6BA;
    font-size: 16px;
    transition: .3s;
}

.input_block .visible_answers div:hover {
    background: #F0E8D9;
    transition: .3s;
    padding-left: 8px;
}

.input_block .visible_answers div:last-child {
    border-bottom: 2px solid #CDC6BA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main_block .search_panel .input_block input.hidden {
    border: 2px solid #CDC6BA;
    border-radius: 10px;
}

.main_block .search_panel .input_block input.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid #CDC6BA;
    border-left: 2px solid #CDC6BA;
    border-right: 2px solid #CDC6BA;
    border-bottom: 1px solid #CDC6BA;
}

/* Button Block */

.button_block {
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: center;
}

.button_block button {
    border: 0;
    background: #FDFF74;
    box-shadow: 0;
    padding: 6px 22px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    color: #343434;
    border: 2px solid #DFE166;
    cursor: pointer;
    transition: .3s;
}
.button_block button:hover {
    background: #E9EB6B;
}

.input_block .hidden_answers {
    display: none;
}

.input_block .visible_answers {
    position: absolute;
    display: block;
}

/* Other elements */

@media screen and (max-width: 1280px) {

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        width: 35vw;
    }

}

@media screen and (max-width: 1000px) {

    .main_block .search_panel .input_block input {
        font-size: 16px;
    }

    .main_block h1 {
        font-size: 25px;
        margin: 0 1vw 6vh 1vw;
    }

    .button_block {
        margin: 6vh 0 0 0;
    }

    .button_block button {
        font-size: 17px;
    }

}

@media screen and (max-width: 750px) {

    .main_block .search_panel .input_block input {
        font-size: 15px;
    }

    .main_block h1 {
        font-size: 23px;
    }

    .button_block button {
        font-size: 16px;
    }

    .input_close, .input_close_active {
        margin-left: 88%;
    }

}

@media screen and (max-width: 610px) {

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        width: 40vw;
    }

    .main_block .search_panel .input_block input {
        font-size: 14px;
    }

    .main_block h1 {
        font-size: 21px;
    }

    .button_block button {
        font-size: 15px;
    }

}

@media screen and (max-width: 570px) {

    .input_block .visible_answers div, .input_block .visible_answers div:hover {
        transition: 0;
    }

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        width: 80vw;
    }

    .input_block .visible_answers {
        z-index: 1;
    }

    .search_panel {
        display: grid;
    }

    .main_block .search_panel .pointer_icon, .main_block .search_panel .pointer_icon_active {
        display: flex;
        justify-content: center;
        margin: 7vw 0;
    }

    .main_block .search_panel .pointer_icon svg, .main_block .search_panel .pointer_icon_active svg {
        transform: rotate(90deg);
    }

    .input_close, .input_close_active {
        margin-left: 94%;
        font-size: 18px;
    }

}

@media screen and (max-width: 456px) {

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        font-size: 13px;
    }

    .main_block h1 {
        font-size: 19px;
    }

    .button_block button {
        font-size: 13px;
    }

    .input_close, .input_close_active {
        margin-left: 92%;
    }

    .main_block .search_panel .pointer_icon, .main_block .search_panel .pointer_icon_active {
        font-size: 20px;
    }

}

@media screen and (max-width: 386px) {

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        font-size: 12px;
    }

    .main_block h1 {
        font-size: 17px;
        margin: 0 3vw 6vh 3vw;
    }

    .button_block button {
        font-size: 12px;
    }

    .main_block .search_panel .pointer_icon, .main_block .search_panel .pointer_icon_active {
        font-size: 18px;
    }

    .main_block .search_panel .input_block input, .input_block .visible_answers div {
        width: 90vw;
    }

}