.result_modal article {
    margin: 2vw;
    display: flex;
}

.result_modal__info_block {
    font-size: 17px;
    margin: 1vh 0;
}

.result_modal__image_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 1vw;
}

.result_modal__image_block img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
}

.result_modal__stata_block {
    display: grid;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.result_modal__stata_block__container {
    padding: 1vw;
    border-radius: 10px;
    background: #EEE3CE;
    color: #3D4344;
    border: 2px solid #B2A387;
}

.result_modal__info_block__link {
    color: #36557A;
    transition: .3s;
}

.result_modal__info_block__link:hover {
    transition: .3s;
    color: #29415D;
}

@media screen and (max-width: 1000px) {
    
    .result_modal__image_block {
        width: 100%;
        margin-bottom: 5vh;
    }

    .result_modal article {
        display: grid;
    }

    .result_modal__info_block {
        font-size: 15px;
    }

}

@media screen and (max-width: 540px) {

    .result_modal__stata_block__container {
        padding: 3vw;
    }

    .result_modal__info_block {
        font-size: 13px;
    }
    
}